@import "tailwindcss";

html {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: #1f2937;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #09615a;
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #0f766e;
}

textarea {
  scrollbar-width: thin;
  scrollbar-color: #0d9488 #1f2937;
}

body {
  @apply bg-gradient-to-br from-black via-teal-800 to-black;
  min-height: 100vh;
}
